#topPanel{
	background-color: #e5e5e5;
	width: 100vw;
	padding: 10px;
	position: fixed;
	z-index: 2;
	font-family: 'Roboto';
	float: left;
	overflow: hidden;
}

.buttonTopPanel{
	background-color: #007bc1;
	color: white;
	margin-top: 8%;
	margin-left: -90%;
	border: none;
	height: 5%;
}

.blueTxt{
	color: blue;
}

.trickyBar{
	margin-top: -55px;
	display: none;
}

.container{
	width: 100vw;
	padding: 0;
	font-family: 'Roboto';
	z-index: 1;
	position: relative;
}

#pageHeader{
	width: 100vw;
	height: 65vh;
	background-image: url("../assets/bg.jpg");
	background-size: 100% 100%;
	position: relative;
	margin-top: 55px;
}

.pageHearderContent{
	background-color: rgba(0, 47, 117, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: inherit;
    position: absolute;
    padding: 1%;
}

.pageHeaderText{
	text-align: center;
	color: #fff;
	padding: 5%;
}

.buttonPageHeaderText{
	margin-top: 3%;
	width: 150px;
	height: 50px;
	border-radius: 10px;
	border: 2px solid white;
	float: center;
	background-color: transparent;
}

.buttonPageHeaderText:hover{
	margin-top: 3%;
	width: 150px;
	height: 50px;
	border-radius: 10px;
	border: 2px solid white;
	float: center;
	background-color: white;
	color: blue;
}

#highlightPanel{
	width: 100vw;
	height: 95vh;
	background-color: #e5e5e5;
}

.highlighPanelTitle{
	text-align: center;
	padding: 3%;
}

.highlighPanelItemContainer{
	margin-left: 5px;
	margin-right: 5px;
}

.highlighPanelItem{
	margin: 25px;
	display: inline-grid;
	border: 2px solid grey;
	width: 550px;
	height: 230px;
	padding: 3px;
	box-shadow: 4px -2px white;
}

.highlighPanelItemContent{
	padding: 6%;
	margin-top: -7%;
}

.highlighPanelItemContent h4{
	font-size: 13pt;
}

.glyphicon{
	font-size: 25px;
	margin-top: 20px;
	margin-left: 10px;
}

.footer{
	text-align: center;
	background-color: #004a75;
	width: : 100vw;
	height: 10vh; 
	color: white;
	padding: 30px;
}

.newsLetter{
	width: 600px;
	height: 20vh;
	bottom: 0;
	left: 0;
	position: fixed;
	background-color: rgba(0,123,193,0.8);
	float: left;
	padding: 10px;
	z-index: 3;
	color: white;
}

.input{
	width: 400px;
	margin-top: 10px;
}

.btnNewsLetter{
	background-color: #cc6600;
	color: white;
	width: 100px;
	margin-left: -25px;
	margin-top: 10px;
	border: 2px solid white;
}

.close{
	margin-top: -10%;
	color: white;
}

@media only screen and (max-width: 375px) {
	#topPanel{
		background-color: #e5e5e5;
		width: 100vw;
		padding: 10px;
		position: fixed;
		z-index: 2;
		font-family: 'Roboto';
		float: left;
		overflow: hidden;
	}

	.buttonTopPanel{
		background-color: #007bc1;
		color: white;
		margin-left: 1%;
		z-index: 3;
		border: none;
		height: 100%;
	}

	.trickyBar{
		margin-top: -40%;
		display: none;
	}	

	#pageHeader{
		width: 100vw;
		height: 70vh;
		background-image: url("../assets/bg.jpg");
		background-size: 100vw 100vh;
		position: relative;
		margin-top: 40%;
	}

	/*For Highlight Panel Item List*/


	#highlightPanel{
		width: 100vw;
		height: 450vh;
		background-color: #e5e5e5;
	}

	.highlighPanelTitle{
		text-align: center;
		padding: 3%;
	}

	.highlighPanelItemContainer{
		margin-left: -30px;
		margin-right: 0px;
	}

	.highlighPanelItem{
		display: inline-grid;
		border: 2px solid grey;
		width: 70vw;
		height: 60vh;
		box-shadow: 4px -2px white;
	}

	.highlighPanelItemContent{
		padding: 6%;
		margin-top: -20%;
	}

	.highlighPanelItemContent h4{
		font-size: 13pt;
	}

	.glyphicon{
		font-size: 25px;
		margin-top: 10px;
		margin-left: 10px;
	}

  	.newsLetter{
		width: 70vw;
		height: 40vh;
		bottom: 0;
		left: 0;
		position: fixed;
		background-color: rgba(0,123,193,0.8);
		float: left;
		padding: 10px;
		z-index: 3;
		color: white;
	}

	.input{
		width: 150px;
		margin-top: 10px;
		margin-left: -20px;
	}

	.btnNewsLetter{
		background-color: #cc6600;
		color: white;
		width: 100px;
		margin-left: -25px;
		margin-top: 10px;
		border: 2px solid white;
	}

	.close{
		margin-top: -40%;
		color: white;
	}

	.footer{
		text-align: center;
		background-color: #004a75;
		width: : 100vw;
		height: 15vh; 
		color: white;
		padding: 30px;
	}
}